html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
#__next {
  height: 300vh;
  border: 1px solid gray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
